body{
    background-color: darkslategray;
}
.main{
    font-family: tt commons,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
    color: whitesmoke;
    margin-bottom: 80px;
}
.left{
    background-color: #063D36;
}
.right{
    background: darkslategrey;
}
.main-img{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 5px;
    height: 150px;
    width: 150px;
}
.my-title{
    text-align: center;
}
.my-details{
    margin-top: 10px;
    margin-left: 10%;
    font-size: large;
    font-weight: 200;
}
.birthday{
    margin-left: 1%;
}
.my-contact{
    margin-left: 10%;
}
.contact{
    margin-left: 5%;
}
.icon{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}