body{
    background-color: darkslategray;
}
.left{
    background-color: darkcyan;
}
.right{
    background: lightblue;
}
img{
    height:280px;
    width: 280px;
    padding: 33px;
    display: block;
    margin: auto;
}
.my-title{
    color: lightgreen;
    text-align: center;
}